* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

body{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    align-self: center;
}

.vsc-initialized {
    justify-content: start;
    width: auto;
    box-sizing: border-box;
    align-self: center;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.all {
    letter-spacing: 2px;
    background-color: #070F2B;
}



/* ----------------- Header ----------------- */

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-content: space-between;
    align-items: center;
    height: 64px;
    position: fixed;
    background-color: transparent;
    width: 100%;
    font-family: 'Ropa Sans';
    padding: 12px 12px;
}

.header button{
    background-color: #9290C3;
    font-family: 'Ropa Sans';
    font-size: 24px;
    line-height: 12px;
    border-radius: 16px;
}

.header img {
    width: 42px;
    height: 42px;
}

.header a {
    text-decoration: none;
    color: #E6E4F5
}

.headerLinks {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 82px;
    align-items: center;
    width: auto;
}

.headerLinks li {
    font-size: large;
}



/* ----------------- Hero ----------------- */

.hero {
    background: linear-gradient(180deg, #1B1A55 0%, #070F2B 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    padding-top: 148px;
}

.heroTexts {
    display: flex;
    flex-direction: column-reverse;
}

.heroTexts h1 {
    font-size: 128px;
    font-style: 'Archivo';
    font-weight: 900;
}

.heroTexts h2 {
    font-size: 32px;
    font-style: 'Ropa Sans';
}

/* ----------------- WhatAreWe ----------------- */

.waw {
    padding-top: 450px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 400px;
    text-align: center;
}

.ropa {
    font-size:64px;
    font-style: 'Ropa Sans';
    letter-spacing: 4px;
    line-height: 12px;
}

.archivo {
    font-style: 'Archivo';
    font-size: 110px;
    font-weight: 900;
}

.wawDescription {
    list-style-type: none;
    font-size: 32px;
    font-style: 'Ropa Sans';
    padding-top:40px;
}

.wawDescription li {
    padding-bottom: 80px;
}



/* ----------------- WhoAreWe ----------------- */

.wowAll {
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-bottom: 400px;
}

.wowA {
    font-family: 'Archivo';
    font-size: 200px;
    font-weight: 900;
    line-height: 130px;
}

.wowR {
    font-family: "Archivo";
    font-size:64px;
    font-weight: bold;
    padding-bottom: 60px;
}

.wow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wowRow {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.wow p {
    padding-bottom: 24px;
    font-family: 'Ropa Sans';
    font-size: 35px;
    width: 80%;
    margin-left: 48px;
}



/* ----------------- Contact ----------------- */
.contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 500px;
    padding-top: 60px;
}

.contact h4 {
    font-family: 'Archivo';
    font-weight: 900;
    font-size: 170px;
}

.contact p {
    font-weight: bold;
    padding-top: 60px;
    font-size: xx-large;
}


/* ----------------- Login -----------------  */

.loginAll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('loginBG.png');
    background-repeat: no-repeat, repeat;
    background-size:cover;
    background-position: center;
    z-index: 40;
}

.loginCard {
    margin-left: 50vw;
    font-family: 'Archivo';
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-width: 480px;
    height: auto;
    align-items: center;
    justify-items: center;
    border-radius: 24px;
    z-index: 0;
    background-color: #535C9166;
    padding: 24px;
}

.loginCardTop {
    display: flex;
    flex-direction: column;
    color: #242424;
    align-items: center;
    justify-items: center;
    padding-bottom: 32px;
    width: 100%;
    color: #E6E4F5
}

.loginCardTop h2{
    font-weight: 900;
    margin-bottom: 32px;
    letter-spacing: 2px;
}

.loginCardTop input{
    background-color: #4D558B;
    border-radius: 8px;
    width: 80%;
    border: none;
    padding: 12px;
}

#pass{
    margin-top: 42px;
}

.loginCardTop input::placeholder{
    color: #FFFFFF61;
    font-family: 'Ropa Sans';
    letter-spacing: 2px;
}

.loginCardBottom {
    font-family: 'Ropa Sans';
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #242424;
    align-items: center;
    justify-items: center;
}

.loginCardBottom button {
    background-color: #070F2B;
    font-size:40px;
    letter-spacing: 8px;
    padding:10px 50px;
    text-align: center;
}

.loginCardBottom a{
    color: #E6E4F5;
}




/* ----------- TEST PAGE ------------- */

:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 1440px;
    height: 900px;
    margin: 0 auto;
    background: linear-gradient(180deg, #070f2b, #1b1a55);
    overflow: hidden;
  }
  .flex-column-c {
    position: absolute;
    width: 669.148px;
    height: 799.386px;
    top: 8.432px;
    left: 37.985px;
    z-index: 8;
  }
  .rectangle {
    position: relative;
    width: 330.638px;
    height: 94.681px;
    margin: 704.705px 0 0 169.256px;
    cursor: pointer;
    background: #9290c3;
    border: none;
    z-index: 3;
    overflow: visible auto;
    border-radius: 12px;
    box-shadow: 0 4px 11.4px 0 rgba(0, 0, 0, 0.41);
  }
  .run {
    position: relative;
    width: 165.902px;
    height: 44.8px;
    margin: 24.312px 0 0 79.355px;
    background: url(../assets/images/3396da07-a76f-4fe5-8af3-5c77785553b4.png)
      no-repeat center;
    background-size: cover;
    z-index: 4;
  }
  .input-tags-separated {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 669.148px;
    height: 121px;
    top: 0;
    left: 0;
    color: #9290c3;
    font-family: Ropa Sans, var(--default-font-family);
    font-size: 36px;
    font-weight: 400;
    line-height: 64px;
    text-align: center;
    letter-spacing: 3px;
    z-index: 8;
  }
  .rectangle-1 {
    position: absolute;
    width: 630.119px;
    height: 127.053px;
    top: 100.439px;
    left: 19.515px;
    background: #1b1a55;
    z-index: 1;
    border-radius: 12px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25) inset;
  }
  .upload-the-xml {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 394.608px;
    height: 121px;
    top: 227.492px;
    left: 137.27px;
    color: #9290c3;
    font-family: Ropa Sans, var(--default-font-family);
    font-size: 40px;
    font-weight: 400;
    line-height: 64px;
    text-align: center;
    letter-spacing: 3px;
    z-index: 7;
  }
  .rectangle-2 {
    position: absolute;
    width: 266.668px;
    height: 189.362px;
    top: 317.929px;
    left: 201.24px;
    background: #535c91;
    z-index: 2;
    border-radius: 12px;
    box-shadow: 0 4px 11.4px 0 rgba(0, 0, 0, 0.41) inset;
  }
  .vector {
    position: relative;
    width: 142.352px;
    height: 129.017px;
    margin: 30.173px 0 0 62.158px;
    background: url(../assets/images/1842ab5a-01ea-4ba7-a11f-24b1ec45ab82.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 9;
  }
  .rectangle-3 {
    position: absolute;
    width: 630.119px;
    height: 804.136px;
    top: 47.932px;
    left: 767.167px;
    font-size: 0px;
    background: #1b1a55;
    border-radius: 12px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25) inset;
  }
  .output {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 299.556px;
    height: 63px;
    margin: 0 0 0 165.281px;
    color: #0b1134;
    font-family: Ropa Sans, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 63px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 3px;
    z-index: 10;
  }
  .vector-4 {
    position: absolute;
    width: 407.549px;
    height: 361.705px;
    top: 171.931px;
    left: 111.285px;
    background: url(../assets/images/e769a1d6-b5ab-4cd4-b813-ba63f4773bce.png)
      no-repeat center;
    background-size: cover;
    z-index: 5;
  }
  .nothing-here-yet {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 394.608px;
    height: 121px;
    top: 499.734px;
    left: 117.756px;
    color: #4d558b;
    font-family: Ropa Sans, var(--default-font-family);
    font-size: 40px;
    font-weight: 400;
    line-height: 64px;
    text-align: center;
    letter-spacing: 3px;
    z-index: 6;
  }  