* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

body{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    align-self: center;
}

.vsc-initialized {
    justify-content: start;
    width: auto;
    box-sizing: border-box;
    align-self: center;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.all {
    letter-spacing: 2px;
    background-color: #070F2B;
}



/* ----------------- Header ----------------- */

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-content: space-between;
    align-items: center;
    height: 64px;
    position: fixed;
    background-color: transparent;
    width: 100%;
    font-family: 'Ropa Sans';
    padding: 12px 12px;
}

.header button{
    background-color: #9290C3;
    font-family: 'Ropa Sans';
    font-size: 24px;
    line-height: 12px;
    border-radius: 16px;
}

.header img {
    width: 42px;
    height: 42px;
}

.header a {
    text-decoration: none;
    color: #E6E4F5
}

.headerLinks {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 82px;
    align-items: center;
    width: auto;
}

.headerLinks li {
    font-size: large;
}



/* ----------------- Hero ----------------- */

.hero {
    background: linear-gradient(180deg, #1B1A55 0%, #070F2B 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    padding-top: 148px;
}

.heroTexts {
    display: flex;
    flex-direction: column-reverse;
}

.heroTexts h1 {
    font-size: 128px;
    font-style: 'Archivo';
    font-weight: 900;
}

.heroTexts h2 {
    font-size: 32px;
    font-style: 'Ropa Sans';
}

/* ----------------- WhatAreWe ----------------- */

.waw {
    padding-top: 450px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 400px;
    text-align: center;
}

.ropa {
    font-size:64px;
    font-style: 'Ropa Sans';
    letter-spacing: 4px;
    line-height: 12px;
}

.archivo {
    font-style: 'Archivo';
    font-size: 110px;
    font-weight: 900;
}

.wawDescription {
    list-style-type: none;
    font-size: 32px;
    font-style: 'Ropa Sans';
    padding-top:40px;
}

.wawDescription li {
    padding-bottom: 80px;
}



/* ----------------- WhoAreWe ----------------- */

.wowAll {
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-bottom: 400px;
}

.wowA {
    font-family: 'Archivo';
    font-size: 200px;
    font-weight: 900;
    line-height: 130px;
}

.wowR {
    font-family: "Archivo";
    font-size:64px;
    font-weight: bold;
    padding-bottom: 60px;
}

.wow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wowRow {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.wow p {
    padding-bottom: 24px;
    font-family: 'Ropa Sans';
    font-size: 35px;
    width: 80%;
    margin-left: 48px;
}



/* ----------------- Contact ----------------- */
.contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 500px;
    padding-top: 60px;
}

.contact h4 {
    font-family: 'Archivo';
    font-weight: 900;
    font-size: 170px;
}

.contact p {
    font-weight: bold;
    padding-top: 60px;
    font-size: xx-large;
}


/* ----------------- Login -----------------  */

.loginAll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('loginBG.png');
    background-repeat: no-repeat, repeat;
    background-size:cover;
    background-position: center;
    z-index: 40;
}

.loginCard {
    margin-left: 50vw;
    font-family: 'Archivo';
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-width: 480px;
    height: auto;
    align-items: center;
    justify-items: center;
    border-radius: 24px;
    z-index: 0;
    background-color: #535C9166;
    padding: 24px;
}

.loginCardTop {
    display: flex;
    flex-direction: column;
    color: #242424;
    align-items: center;
    justify-items: center;
    padding-bottom: 32px;
    width: 100%;
    color: #E6E4F5
}

.loginCardTop h2{
    font-weight: 900;
    margin-bottom: 32px;
    letter-spacing: 2px;
}

.loginCardTop input{
    background-color: #4D558B;
    border-radius: 8px;
    width: 80%;
    border: none;
    padding: 12px;
}

#pass{
    margin-top: 42px;
}

.loginCardTop input::placeholder{
    color: #FFFFFF61;
    font-family: 'Ropa Sans';
    letter-spacing: 2px;
}

.loginCardBottom {
    font-family: 'Ropa Sans';
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #242424;
    align-items: center;
    justify-items: center;
}

.loginCardBottom button {
    background-color: #070F2B;
    font-size:40px;
    letter-spacing: 8px;
    padding:10px 50px;
    text-align: center;
}

.loginCardBottom a{
    color: #E6E4F5;
}




/* ----------- TEST PAGE ------------- */

:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  .main-container {
    position: relative;
    width: 100vw; /* Ocupa toda a largura da janela */
    height: 100vh; /* Ocupa toda a altura da janela */
    margin: 0;
    background: linear-gradient(180deg, #070f2b, #1b1a55);
    display: flex; /* Flex container */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    overflow: hidden;
}

.flex-column-c {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo dentro da coluna */
    align-items: center; /* Centraliza horizontalmente */
    gap: 20px; /* Espaçamento entre os elementos */
}

.run {
    width: 330.638px;
    height: 94.681px;
    background: #9290c3;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 11.4px 0 rgba(0, 0, 0, 0.41);
}

.runtext {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #121543;
    font-family: Archivo Black, var(--default-font-family);
    font-size: 64px;
    font-weight: 900;
    line-height: 55.993px;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 10px;
    z-index: 11;
}

.run:hover {
    background-color: #abb7fd;
  }

  input[type="file"] {
    display: none;
  }

.input-tags-separated, .upload-the-xml {
    font-family: Ropa Sans, sans-serif;
    font-size: 36px;
    color: #9290c3;
    text-align: center;
}

.rectangle-1 {
    width: 630px;
    height: 50px;
    padding: 10px;
    background: #1b1a55;
    color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25) inset;
}

.custom-upload-button {
    width: 266.668px;
    height: 189.362px;
    background-color: #535c91;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 11.4px 0 rgba(0, 0, 0, 0.41) inset;
}

.png-icon {
    width: 125px;
    height: 120px;
}

  
  .custom-upload-button:hover {
    background-color: #727fcb;
  }
  .success-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4BB543;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    font-size: 18px;
    z-index: 1000;
}

  