* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    margin: 0;
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    align-self: center;
}

.vsc-initialized {
    justify-content: start;
    width: auto;
    box-sizing: border-box;
    align-self: center;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}



/* ----------------- Header ----------------- */

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-content: space-between;
    align-items: center;
    height: 64px;
    position: fixed;
    background-color: #242424;
}

.header button{
    background-color: aqua;
}

.header img {
    background-color: aqua;
}

.headerLinks {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    width: auto;
}

.headerLinks li {
    font-size: large;
}



/* ----------------- Hero ----------------- */

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroTexts {
    display: flex;
    flex-direction: column-reverse;
}



/* ----------------- WhatAreWe ----------------- */

.waw {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.wawDescription {
    list-style-type: none;
    padding-top:96px
}

.wawDescription li {
    padding-bottom: 80px;
}



/* ----------------- WhoAreWe ----------------- */

.wowAll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.wow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wowRow {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.wow p {
    padding-bottom: 24px;
}



/* ----------------- Login -----------------  */

.loginAll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
}

.loginLeft {
    background-color: #1B1A55;
    width: 70vw;
    height: 100vh;
    z-index: 0;
}

.loginRight {
    background-color: #242424;
    width: 30vw;
    height: 100vh;
    z-index: 1;
}

.loginCard {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 640px;
    align-items: center;
    justify-items: center;
    border-radius: 24px;
    z-index: 0;
    background-color: azure;
    padding: 24px;
}

.loginCardTop {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #242424;
    align-items: center;
    justify-items: center;
    padding-bottom: 32px;
}

.loginCardTop input{
    background-color: transparent;
    border-radius: 4px;
    padding: 8px;
}

.loginCardBottom {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #242424;
    align-items: center;
    justify-items: center;
}
